.pokemon {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    @include caja;
    &__imagen {
        width: 100%;
        margin: 0 auto;
        img {
            display: block;
            width: 60%;
            margin: 0 auto;
        }
    }
    &__contenido {
        display: flex;
        flex-direction: column;
        padding: 15px;
        color: $color-claro;
        background-color: $color-primario;
    }
    &__title {
        @include titulos($Fuente2);
    }
    &__detalles {
        display: flex;
    }
    &__habilidades {
        width: 50%;
    }
    &__stats {
        width: 50%;
    }
}