/* Media Queries Mixin
**********************/
h1 {
  font-size: 25px;
  font-family: "Marmelad", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-family: "Marmelad", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 14px;
  font-family: "Marmelad", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #F9FAFC;
  color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.pokedex {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .pokedex {
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

.pokemon {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px auto;
  color: #333333;
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.2);
}
.pokemon__imagen {
  width: 100%;
  margin: 0 auto;
}
.pokemon__imagen img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.pokemon__contenido {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: #FFF;
  background-color: #333333;
}
.pokemon__title {
  text-align: center;
}
.pokemon__detalles {
  display: flex;
}
.pokemon__detalles p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.21875rem;
}
.pokemon__habilidades {
  width: 50%;
  padding: 10px;
}
.pokemon__habilidades span {
  display: inline-block;
  margin-left: 10px;
}
.pokemon__habilidades i {
  color: #24e9ae;
}
.pokemon__estadisticas {
  width: 50%;
  padding: 10px;
}
.pokemon__estadisticas h3 {
  font-family: "Marmelad", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.pokemon__estadisticas span {
  display: inline-block;
  margin-left: 10px;
}
.pokemon__estadisticas .vida {
  color: #f31212;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.59375rem;
}
.pokemon__estadisticas .ataque {
  color: #e0ada4;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.59375rem;
}
.pokemon__estadisticas .tipo {
  color: #e9d62f;
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.59375rem;
}